<div class="container">

  <h1 class="header-margin">Find out how much money you can save with Grow!</h1>

  <div class="row vertical-align extra-margin">
    <div class="col-xs-12 col-sm-4 text-sm-right">
      <p>How much do you want to borrow?</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <input class="loan-amount" ng-model="loanAmount" ng-currency fraction="0" min="10000" max="35000">
    </div>
    <div class="col-xs-6 col-sm-1 col-sm-push-1 text-sm-right">
      <span class="loan-amount">Amount:</span>
    </div>
    <div class="col-xs-6 col-sm-1 col-sm-push-1">
      <span class="loan-amount">{{loanAmount | currency : '$' : 0}}</span>
    </div>
  </div>

  <div class="row vertical-align extra-margin">
    <div class="col-xs-12 col-sm-4 text-sm-right">
      <p>How much interest does your bank charge you?</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <rzslider rz-slider-model="externalRateSlider.value" rz-slider-options="externalRateSlider.options"></rzslider>
    </div>
    <div class="col-xs-6 col-sm-1 col-sm-push-1 text-sm-right">
      <span class="loan-amount">Loan cost:</span>
    </div>
    <div class="col-xs-6 col-sm-1 col-sm-push-1">
      <span class="external-cost">{{loanAmount*externalRateSlider.value/100 | currency : '$' : 0}}</span>
    </div>
  </div>

  <div class="row vertical-align extra-margin">
    <div class="col-xs-12 col-sm-4 text-sm-right">
      <p> With Grow, you can get a lower personalized rate.
        <br> Explore how much you could save! </p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <rzslider rz-slider-model="growRateSlider.value" rz-slider-options="growRateSlider.options"></rzslider>
    </div>
    <div class="col-xs-6 col-sm-1 col-sm-push-1 text-sm-right">
      <span class="loan-amount">Grow cost:</span>
    </div>
    <div class="col-xs-6 col-sm-1 col-sm-push-1">
      <span class="grow-cost">{{loanAmount*growRateSlider.value/100 | currency : '$' : 0}}</span>
    </div>
  </div>

  <div class="row vertical-align extra-margin">
    <div class="col-xs-12 col-sm-8"></div>
    <div class="col-xs-6 col-sm-1 col-sm-push-1 text-sm-right">
      You save:
    </div>
    <div class="col-xs-6 col-sm-1 col-sm-push-1">
      <span class="saved">{{loanAmount*(externalRateSlider.value-growRateSlider.value)/100 | positive | currency : '$' : 0}}</span>
    </div>
  </div>

</div>
