<div class="container">
  <h1>Find out how much money you can save with Grow!</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p>Enter loan amount</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <input ng-model="loanAmount" ng-currency min="10000" max="35000">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <rzslider rz-slider-model="externalRateSlider.value" rz-slider-options="externalRateSlider.options"></rzslider>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p>{{loanAmount*externalRateSlider.value/100 | currency : '$' : 0}}</p>
    </div>
  </div>



</div>
