<div class="container">

  <h1>Find out how much money you can save with Grow!</h1>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p>Enter loan amount</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <input class="loan-amount" ng-model="loanAmount" ng-currency fraction="0" min="10000" max="35000">
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-6">
      How much interest does your bank charge you?
    </div>
    <div class="col-xs-12 col-sm-6">
      <rzslider rz-slider-model="externalRateSlider.value" rz-slider-options="externalRateSlider.options"></rzslider>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-right">
      <span>This loan is costing you:</span>
    </div>
    <div class="col-xs-6">
      <span class="external-cost">{{loanAmount*externalRateSlider.value/100 | currency : '$' : 0}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      With Grow, you can get a lower personalized rate. Explore how much you could save!
    </div>
    <div class="col-xs-12 col-sm-6">
      <rzslider class="grow-slider" rz-slider-model="growRateSlider.value" rz-slider-options="growRateSlider.options"></rzslider>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 text-right">
      <span>A loan with Grow could cost you:</span>
    </div>
    <div class="col-xs-6">
      <span class="grow-cost">{{loanAmount*growRateSlider.value/100 | currency : '$' : 0}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 text-right">
      You could save:
    </div>
    <div class="col-xs-6">
      <span class="saved">{{loanAmount*(externalRateSlider.value-growRateSlider.value)/100 | positive | currency : '$' : 0}}</span>
    </div>
  </div>

</div>
